

/*Custom Fonts*/
@font-face {
  font-family:WhyteInktrap;
  src: url('./assets/fonts/WhyteInktrap-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family:WhyteInktrap;
  src: url('./assets/fonts/WhyteInktrap-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family:WhyteInktrap;
  src: url('./assets/fonts/WhyteInktrap-Book.ttf');
  font-weight: 400; 
}


/*Defaults CSS8*/
/************ Default Css ************/
